
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
    margin: 0;
    font-family: 'Caprasimo', serif;
}

#top {
    background-color: #F75C03;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

svg {
    height: 50px;
    display: flex;
    align-self: center;
    margin-left: 30px;
}

.textTop {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: bolder;
}

button {
    margin: 20% 30px 20%;
    border-radius: 7%;
    background-color: #20A39E;
    border-color: black;
    border: 2px solid;
    font-size: larger;
    font-family: 'Caprasimo', serif;
}

#mainContent {
    background-color: #20A39E;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.library {
    flex: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 30px;
}

.gridElement {
    background-color: #A4A9AD;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    position: fixed;
    top: 25%;
    left: 25%;
    bottom: 25%;
    right: 25%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #23001E;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7%;
    color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#read {
    align-self: start;
}

label {
    align-self: start;
}

input {
    align-self: flex-start;
    width: 95%;
    border: 2px solid;
    height: 25px;
}

#submitButton {
    align-self: center;
    justify-self: center;
    font-family: 'Caprasimo', serif;
    height: 30px;
    width: 80px;
    font-size: 15px;
    border-radius: 7%;
    border: none;
}

.closeButton {
    background-color: white;
    margin: 0;
    height: 30px;
    width: 80px;
    font-size: 15px;
    border-radius: 7%;
}







